@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="hud-alive @(IsAlive() ? "" : "hidden")">
		<div class="score-container @(IsFlying() ? "" : "hidden")">
			<div class="score-box">
				<label class="score-number">@(GetBumps())</label>
				<label class="score-label">BUMPS</label>
			</div>
			<div class="score-box">
				<label class="score-number">@(GetSqueezes())</label>
				<label class="score-label">SQUEEZES</label>
			</div>
			<div class="score-box">
				<label class="score-number">@(GetScrapes())</label>
				<label class="score-label">SCRAPES</label>
			</div>
		</div>

		<div class="popup-stage @(ShowStageMessage() ? "" : "hidden")">
			<label class="score-label">STAGE COMPLETE</label>
		</div>
	</div>
	<div class="hud-dead@((IsAlive() ? " hidden" : "") + (HasFinished() ? " winner" : " loser"))">
		<label class="rip @(HasFinished() ? "hidden" : "")">YOU HAVE PERISHED</label>
		<label class="rip @(HasFinished() ? "" : "hidden")">YOU HAVE SURVIVED</label>
		<div class="score-tally">
			<label class="score-tuple">SCRAPES: @(GetScrapes()) x1</label>
			<label class="score-tuple">BUMPS: @(GetBumps()) x@(CareFall.SCORE_BUMP_AMT)</label>
			<label class="score-tuple">SQUEEZES: @(GetSqueezes()) x@(CareFall.SCORE_SQUEEZE_AMT)</label>
			<label class="score-tuple">STAGES: @(GetStages()) x@(CareFall.SCORE_STAGE_AMT)</label>
			<label class="score-tuple">FINAL SCORE: @(GetScore())</label>
			<label class="score-tuple"></label>
			<label class="score-tuple">PRESS '@(restartAct?.KeyboardCode.ToUpper())' TO RESTART</label>
		</div>
	</div>
</root>

@code
{
	private InputAction restartAct = Input.GetActions().FirstOrDefault(x => x.Name == "restart");

	public int GetScore()
	{
		return CareFall.Game.plr?.GetScore() ?? 0;
	}

	public int GetBumps()
	{
		return CareFall.Game.plr?.ScoreBumps ?? 0;
	}

	public int GetSqueezes()
	{
		return CareFall.Game.plr?.ScoreSqueezes ?? 0;
	}

	public int GetScrapes()
	{
		return (int)(CareFall.Game.plr?.ScoreScrapes ?? 0);
	}

	public int GetStages()
	{
		return CareFall.Game.plr?.ScoreStages ?? 0;
	}

	public bool IsAlive()
	{
		return CareFall.Game.plr?.Alive ?? false;
	}

	public bool IsFlying()
	{
		return CareFall.Game.plr?.Flying ?? false;
	}

	public bool HasFinished()
	{
		return CareFall.Game.plr?.FinishedRun ?? false;
	}

	public bool ShowStageMessage()
	{
		return CareFall.Game.plr?.LastStageCompletion < 2.5f && GetStages() > 0;
	}

	protected override int BuildHash() => System.HashCode.Combine(
	GetBumps(),
	GetSqueezes(),
	GetScrapes(),
	GetStages(),
	ShowStageMessage(),
	IsAlive(),
	IsFlying()
	);
}
